@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url(https://images.unsplash.com/photo-1639754390580-2e7437267698?q=80&w=2041&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D );
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}